div.jumbotron  
  h1 Hello {{ name }}, welcome to Angular Coffee Boiler

  div.col-xs-4.col-xs-offset-4
    h4 Featuring
    ul.list-unstyled
      li Express
      li MongoDB
      li CoffeeScript
      li Angular
      li Bootstrap
      li Socket.io