title= title
base(href="/")

link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Audiowide')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans')

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='Great Success!')
meta(name='viewport', content='width=device-width, initial-scale=1')

// script(type="text/javascript", src="/angular/angular.js")
// script(type="text/javascript", src="/angular-ui-router/release/angular-ui-router.js")
// script(type="text/javascript", src="/angular-cookies/angular-cookies.js")
// script(type="text/javascript", src="/angular-resource/angular-resource.js")


// script(type="text/javascript", src="/jquery/jquery.min.js")
// script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.js")
// script(type="text/javascript", src="/lodash/dist/lodash.js")
// script(type="text/javascript", src="/socket.io/socket.io.js")

script(type="text/javascript", src="/javascripts/vendor.js")
script(type="text/javascript", src="/javascripts/index.js")

