div.modal-header
  h3 Login to start Gryfting :D

div.modal-body
  div.errors(ng-show='{{errors}}')
    p Incorrect Username / Password
    
  form(ng-submit='login()')
    div.form-group
      label Username:
      input.form-control(type='text', ng-model='user.name', name='name')
    
    div.form-group
      label Password:
      input.form-control(type='password', ng-model='user.password', name='password')
    
    div
      input.btn.btn-primary(value='Log In', type='submit')
